:root {
    --bg: #222222;
}

body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background: var(--bg);
}

.athenatitle{
    text-align:center;
    color:#ffffff;
    font-family: 'Cinzel', serif;
    font-size:6rem;
    text-shadow:7px 7px 10px #666666;
}

ul {
    position:relative;
    display:flex;
    gap:50px;
}

ul li {
    position:relative;
    list-style:none;
    width: 80px;
    height: 80px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    margin:auto;
}

ul li a {
    position: relative;
    text-decoration: none;
    color: var(--clr);
}

.clock {
    color:#FFB919;
    font-size:3em;
}

.clock:hover {
    font-size:4em;
    filter: drop-shadow(0, 0, 20px, #FFB919)
}

.clock p:hover {
    display:block;
}

.password {
    color:greenyellow;
    font-size:3em;
}

.password:hover {
    font-size:4em;
}

.weather {
    color: #0044FF;
    font-size:3em;
}

.weather:hover {
    font-size:4em;
}

.reminders {
    font-size:3em; 
}

.reminders:hover {
    font-size:4em;
}

.vehicle {
    font-size:3em;
    color: #E00093; 
}

.vehicle:hover {
    font-size:4em;
}

.controls {
    font-size:3em;
    color:red;
}

.controls:hover {
    font-size:4em;
}